@use "../../../styles/globals" as globals;

.project {
  &Page {
    margin: 0;
    margin-top: 5rem;
    // background-color: globals.$cloud-grey;
    @media only screen and (min-width: globals.$md) {
      margin-top: 10rem;
    }
    h1 {
      @include globals.headingFontLarge;
      margin: 0;
    }

    p {
      @include globals.bodyFont;
      font-size: clamp(1rem, 10vw, 1.25rem);
      color: globals.$forest-black;
      max-width: 45rem;
    }
  }
  &Content {
    padding: 0 1rem 5rem;
    border: 2px solid blue;
    @media only screen and (min-width: globals.$md) {
      padding: 0 2rem 5rem;
    }
  }
  &Images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    // background-color: globals.$cloud-grey;
    padding: 1rem;
    max-width: globals.$page-wrapper;
    margin: 0 auto;
    @media only screen and (min-width: globals.$md) {
      padding: 2rem;
    }
    .imageWrapper {
      position: relative;
      margin: 0 auto;
      img {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 2rem;
      }

      &:nth-child(1) {
        width: 100%;
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12) {
        width: 48.5%;
      }
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        width: 32%;
      }

      &:nth-child(8),
      &:nth-child(9) {
        align-self: flex-end;
      }
    }
  }
}

.project-verve-super {
  .imageWrapper {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(7),
    &:nth-child(8) {
      width: 48.5%;
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      width: 24%;
    }
    &:nth-child(9) {
      width: 100%;
      max-width: 40rem;
      margin: 0 auto;
    }
  }
}
.project-airtime {
  .imageWrapper {
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      width: 20%;
      max-width: 10rem;
      align-self: center;
    }
    &:nth-child(10),
    &:nth-child(11) {
      width: 100%;
      // max-width: 40rem;
      margin: 0 auto;
    }
  }
}
.project-aime-mentoring {
  .imageWrapper {
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10) {
      width: 48.5%;
    }
  }
}

.project-bwf {
  .imageWrapper {
    &:nth-child(6),
    &:nth-child(7) {
      width: 48.5%;
      align-self: center;
    }
    &:nth-child(8) {
      width: 100%;
    }
  }
}
.project-worthy {
  .imageWrapper {
    &:first-child,
    &:nth-child(4),
    &:nth-child(13),
    &:nth-child(14) {
      width: 48.5%;
    }
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7) {
      width: 20%;
    }
    &:nth-child(8) {
      width: 100%;
    }
    &:nth-child(16) {
      width: 30%;
    }
    &:nth-child(17) {
      width: 65%;
    }
    &:nth-child(13) {
      img {
        max-width: 30rem;
      }
      display: flex;
      justify-content: flex-end;
    }
  }
}
