@use "../../../styles/globals" as globals;

.project {
  &Page {
    margin: 0;
    margin-top: 5rem;
    // background-color: globals.$cloud-grey;
    @media only screen and (min-width: globals.$md) {
      margin-top: 10rem;
    }
    h1 {
      @include globals.headingFontLarge;
      margin: 0;
    }

    p {
      @include globals.bodyFont;
      font-size: clamp(1rem, 10vw, 1.25rem);
      color: globals.$forest-black;
      max-width: 45rem;
    }
  }
  &Content {
    padding: 0 2rem 5rem;
    border: 2px solid blue;
  }
  &Images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    // background-color: globals.$cloud-grey;
    padding: 2rem;
    max-width: globals.$page-wrapper;
    margin: 0 auto;
    .imageWrapper {
      position: relative;
      img {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 2rem;
      }

      &:nth-child(1) {
        width: 100%;
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11),
      &:nth-child(12) {
        width: 48.5%;
      }
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        width: 32%;
      }

      &:nth-child(8),
      &:nth-child(9) {
        align-self: flex-end;
      }
    }
  }
}
