$primary-blue: #3498db;
$primary-green: #2ecc71;
$primary-red: #e74c3c;
$primary-white: #ffffff;

$cream: #f4f1ea;
$lilac: #e9e3f3;
$mango: #feb834;
$botanical-green: #23a336;
$olive: #919638;
$olive-transparent: #91963870;
$ocean: #07378f;
$baby-blue: #ebeff5;
$tangerine-red: #ff5a19;
$candy: #f08fc2;
$cloud-grey: #eaeaea;
$oyster-grey: #ddd5d5;
$forest-black: #13231c;
