@import "colours.module.scss";
@import "typography.module.scss";

.layout {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  .layout {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.layout {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

// *** GLOBAL VARIABLES ***

// breakpoints
$sm: 40rem; //640px
$sm-md: 52rem; //832px
$md: 64rem; //1024px
$md-lg: 80rem; //1285px
$lg: 100rem; //1600px
$xl: 150rem; //2400px

$page-wrapper: $lg;

// interactions
$smooth-transition: all 0.2s ease-in-out;
