@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$body-font: "DM Sans", "Courier New", Courier, monospace;

@mixin bodyFont {
  font-family: $body-font;
  color: $primary-white;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  &::selection {
    background: $primary-red;
    color: $primary-blue;
  }
}
