@use "../../styles/globals" as globals;

@keyframes moveIt {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: -0.3rem;
  }
}

.project {
  margin: 1rem 0;
  transition: globals.$smooth-transition;

  &List {
    list-style: none;
    padding: 0;
    z-index: 1;
  }

  &:nth-child(1) .projectName {
    animation: moveIt 0.6s 6 ease-in-out;
  }
  &:hover .projectName {
    animation-play-state: paused;
  }

  &Name {
    @include globals.headingFontMedium;
    text-decoration: none;
    z-index: 0;
    z-index: 1;
    position: relative;
  }

  &Thumb {
    opacity: 0;
    position: absolute;
    z-index: -1;
    transition: opacity 0.5s ease-in-out, transform 0.1s ease-out;
    height: 100vw;
    width: auto;

    left: 6rem;
    bottom: -5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    @media only screen and (min-width: globals.$sm) {
      left: 20rem;
      bottom: -30rem;
    }
    @media only screen and (min-width: globals.$md) {
      left: 35rem;
      bottom: -35rem;
    }

    img {
      width: auto;
      height: 50vh;
      position: relative;
      @media only screen and (min-width: globals.$sm) {
        height: 100vh;
      }
    }
  }

  &:nth-child(2n),
  &:nth-child(3n),
  &:nth-child(4n) {
    .projectThumb {
      @media only screen and (min-width: globals.$sm) {
        bottom: -15rem;
      }
      @media only screen and (min-width: globals.$md-lg) {
        left: 40rem;
        bottom: -25rem;
      }
    }
    &:hover .projectName {
      color: globals.$tangerine-red;
    }
  }

  &:nth-child(3n) {
    &:hover .projectName {
      color: globals.$ocean;
    }
  }

  &:nth-child(4n) {
    .projectThumb {
      @media only screen and (min-width: globals.$sm) {
        bottom: -10rem;
      }
      @media only screen and (min-width: globals.$md-lg) {
        bottom: -20rem;
      }
    }
  }

  &:nth-child(5n) {
    .projectThumb {
      @media only screen and (min-width: globals.$sm) {
        bottom: -13rem;
      }
      @media only screen and (min-width: globals.$md) {
        left: 35rem;
        bottom: -23rem;
      }
    }
    &:hover .projectName {
      color: globals.$botanical-green;
    }
  }
  &:nth-child(6n) {
    .projectThumb {
      @media only screen and (min-width: globals.$md) {
        bottom: -14rem;
      }
    }
  }
}

.project:hover {
  .projectName {
    color: globals.$candy;
  }
  .projectThumb {
    opacity: 1;
  }
}
