@use "../../styles/globals" as globals;

.project {
  //   overflow: hidden;
  margin: 1rem 0;
  transition: globals.$smooth-transition;
  position: relative;

  &List {
    position: relative;
    list-style: none;
    padding: 0;
    margin-bottom: 4rem;
  }

  &Name {
    @include globals.headingFontMedium;
    text-decoration: none;
    z-index: 0;
    position: relative;
  }

  &Thumb {
    opacity: 0;
    position: absolute;
    z-index: -1;
    // top: 0;
    // left: 0rem;
    transition: opacity 0.5s ease-in-out, transform 0.1s ease-out;
    height: 30rem;
    width: auto;

    margin-right: -18rem;
    left: 26rem;
    bottom: -10rem;

    img {
      width: 100%;
      height: auto;
      position: relative;
    }

    @media only screen and (min-width: globals.$md) {
      // right: -40rem;
    }
  }

  &:nth-child(2n),
  &:nth-child(4n) {
    .projectThumb {
      bottom: -1rem;

      @media only screen and (min-width: globals.$md) {
        // right: -16rem;
      }
    }
    &:hover .projectName {
      color: globals.$tangerine-red;
    }
  }

  &:nth-child(3n) {
    .projectThumb {
      bottom: 3rem;
      @media only screen and (min-width: globals.$md) {
        // right: -26rem;
      }
    }
    &:hover .projectName {
      color: globals.$ocean;
    }
  }

  &:nth-child(5n) {
    .projectThumb {
      // bottom: -3rem;
      // right: 0rem;
    }
    &:hover .projectName {
      color: globals.$botanical-green;
    }
  }
}

.project:hover {
  .projectName {
    color: globals.$candy;
  }
  .projectThumb {
    opacity: 1;
  }
}
