@use "../../styles/globals" as globals;

.home {
  margin-top: 9rem;
  padding: 1rem;
  @media only screen and (min-width: globals.$md) {
    // width: 90%;
    margin-top: 10rem;
  }
  @media only screen and (min-width: globals.$lg) {
    // width: 80%;
    // max-width: globals.$md-lg;
  }
  .intro {
    @include globals.headingFontLarge;
    max-width: globals.$md-lg;
  }
}

.intro,
.projectList {
  position: relative;
  @media only screen and (min-width: globals.$sm-md) {
    margin-left: 2.5rem;
  }
}

.projectList {
  @media only screen and (max-width: globals.$sm-md) {
    margin-top: 4rem;
  }
}
