@use "../../styles/globals" as globals;

.home {
  margin-top: 5rem;
  padding: 1rem;
  .intro {
    @include globals.headingFontLarge;
    max-width: globals.$md;
    position: relative;
    z-index: 1;
    text-wrap: balance;

    @media only screen and (min-width: globals.$sm-md) {
      letter-spacing: -0.15rem;
    }

    .link {
      text-decoration: none;
      color: globals.$mango;
      &::selection {
        background: globals.$mango;
        color: globals.$botanical-green;
      }
    }
  }
}

.intro,
.projectList {
  position: relative;
}

.projectList {
  @media only screen and (max-width: globals.$sm-md) {
    margin-top: 4rem;
  }
}
