@use "../../styles/globals" as globals;

@keyframes slideInWithColor {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slideOutWithColor {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.backgroundTransition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--page-color);
  animation: slideInWithColor 1s ease forwards,
    slideOutWithColor 1s ease forwards;
  z-index: 12;
}
