@use "../../styles/globals" as globals;

.transitionBlock {
  position: fixed;
  top: 0;
  left: 0;
  width: 250vw;
  height: 250vh;
  // background: globals.$lilac;
  background: linear-gradient(
    -135deg,
    transparent,
    globals.$lilac,
    transparent
  );
  z-index: 10;
}
