@use "../styles/colours" as colours;
@use "../styles/typography" as typography;

.layout {
  box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  min-height: 100vh;
  background-color: colours.$cream;
  margin: 0;
  box-sizing: border-box;
}

.main {
  flex: 1;
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  gap: 16px;
}

.footer {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
}
